$interface-slate-dark: #62717F;
$interface-slate: #EBEDF3;
$interface-default-slate: #2E2D37;
$interface-slate-black: #2B2A35;
$interface-gray: #2B2A35;
$interface-pink-light: #FF4CAE;
$interface-pink: #F4007B;
$interface-pink-dark: #FC40A6;
$interface-white: #ffffff;
$interface-blue: #2F3857;
$interface-blue-dark: #728291;







